<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beisen.Common" version="1.1.0.37" targetFramework="net45" />
  <package id="Beisen.Configuration" version="1.1.0.37" targetFramework="net45" />
  <package id="Beisen.ConnectionPool" version="1.1.0.1198" targetFramework="net45" />
  <package id="Beisen.Logging" version="1.1.0.68" targetFramework="net45" />
  <package id="Ccr.Core" version="1.5.507.0" targetFramework="net45" />
  <package id="LessJie.System.Web.Http" version="1.0.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10.1" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net45" />
  <package id="MySpace.Shared" version="1.1.0.7" targetFramework="net45" />
  <package id="PowerCollections" version="1.0.2141.24679" targetFramework="net45" />
  <package id="Wintellect.PowerThreading" version="1.0.0.0" targetFramework="net45" />
</packages>