<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beisen.Common" version="1.1.0.37" targetFramework="net45" />
  <package id="Beisen.Configuration" version="1.1.0.37" targetFramework="net45" />
  <package id="Beisen.ConnectionPool" version="1.1.0.1198" targetFramework="net45" />
  <package id="Beisen.Data" version="1.1.0.9" targetFramework="net45" />
  <package id="Beisen.Entity" version="1.1.0.7" targetFramework="net45" />
  <package id="Beisen.ESB.ClientProxyFactory" version="1.1.0.645" targetFramework="net45" />
  <package id="Beisen.Kafka" version="1.1.0.952" targetFramework="net45" />
  <package id="Beisen.Log.Trace" version="1.1.0.48" targetFramework="net45" />
  <package id="Beisen.Logging" version="1.1.0.68" targetFramework="net45" />
  <package id="Beisen.RedisV2" version="1.1.0.878" targetFramework="net45" />
  <package id="Beisen.SearchV3" version="1.1.0.936" targetFramework="net45" />
  <package id="Beisen.SMSMailPlatformServices.ServiceInterface" version="1.1.0.71" targetFramework="net45" />
  <package id="Beisen.UserFramework.SDK" version="1.1.0.442" targetFramework="net45" />
  <package id="Beisen.UserFramework.SDK.Account" version="1.1.0.69" targetFramework="net45" />
  <package id="Beisen.XLog" version="1.1.0.965" targetFramework="net45" />
  <package id="Beisen.ZooKeeper" version="1.1.0.570" targetFramework="net45" />
  <package id="Ccr.Core" version="1.5.507.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10.1" targetFramework="net45" />
  <package id="MySpace.DataRelay" version="1.1.0.13" targetFramework="net45" />
  <package id="MySpace.Shared" version="1.1.0.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="PowerCollections" version="1.0.2141.24679" targetFramework="net45" />
  <package id="Wintellect.PowerThreading" version="1.0.0.0" targetFramework="net45" />
</packages>